*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{
    background-color:#e056fd;
}

.main{
    width:100%;
    height:100vh;
    display:flex;
    justify-content:center;
    display:flex;
   
}

#box{
    width:80%;
    height:400px;
    box-shadow:5px 2px 2px lightseagreen; 
    padding:15px;
    background-color:white;
    border-radius:5px;
}

.row{
    width:100%;
    margin:3rem;
}

 .btn1{
    width: 25%;
    padding:5px;
    font-size:20px;
    color:white;
    border:navajowhite;
    /* height: 28px; */
    background-color:aquamarine;
} 

.btn2{
    width: 25%;
    padding:5px;
    font-size:20px;
    color:white;
    border:navajowhite;
    /* height: 28px; */
    background-color:green;
} 
.btn3{
    width: 25%;
    padding:5px;
    font-size:20px;
    color:white;
    border:navajowhite;
    /* //height: 28px; */
    background-color:aquamarine;
} 
